.form-table h4 {
    font-weight: 700;
    font-size: 16px;
}

.roof-1 img {
    width: 100%
}

.roof-1>div {
    padding: 10px 45px 10px 45px
}

.content-border {
    padding: 10px
}

#largest-capacity label {
    font-weight: 100
}

#largest-capacity h5 {
    color: #999
}